{% if algorithm.group.id == 1 %}

    {% if algorithm.id == 1 %}
        {#Сортировка пузырьком (booble sort)#}
        <p>Сортируем список по возрастанию</p>
        <p><strong>Алгоритм:</strong></p>
        1. Берем два первых элемента. Если первый элемент больше второго, меняем их местами.<br>
        2. Затем сравниваем второй и третий элементы, и снова меняем местами, если третий меньше второго.<br>
        3. Таким образом, в конце концов самый большой элемент окажется последним членом списка.<br>
        4. В следующем цикле сравнение происходит до предпоследнего элемента, и так далее.<br>

    {% elif algorithm.id == 2 %}
        {#Сортировка выбором (selection sort)#}
        <p>Сортируем список по возрастанию</p>
        <p><strong>Алгоритм:</strong></p>
        1. Запоминаем значение первого элемента списка.<br>
        2. Затем сравниваем его по очереди с каждым из последующих элементов, ища позицию и значение наименьшего
        элемента.<br>
        3. Меняем местами первый и наименьший элемент, если они не равны.<br>
        4. Таким образом, в начале будет стоять наименьший элемент.<br>
        5. После этого запускаем вторую итерацию с целью найти следующий наименьший элемент, и ставим его на второе
        место, и так далее.<br>

    {% elif algorithm.id == 4 %}
        {#Сортировка вставками (insertion sort)#}
        <p>Сортируем список по возрастанию</p>
        <p><strong>Алгоритм:</strong></p>
        1. Начинаем обработку со 2 позиции.<br>
        2. Каждая итерация проходит в обратном порядке - от элемента с большей позиции к меньшей.<br>
        3. Сначала сравниваем элементы списка номер 1 и 2. Если 1 больше 2, то 1 встанет на место 2, а на место 1
        встанет 2.<br>
        4. Затем сравниваем элементы 2 и 1 с элементом 3. На место элемента 3 встанет элемент 2, если 2 больше 3, на
        место 2 встанет 1, если 1 больше первоначального 3. А на место последнего перемещенного встанет первоначальный
        5. В итоге 1, 2 и 3 тоже встанут по порядку.<br>
        6. Следующая итерация по элементу с номером 4, после которой 1, 2, 3 и 4 будут отсортированы, и так далее.<br>

    {% elif algorithm.id == 5 %}
        {#Шейкерная  сортировка списка (shaker sort)#}
        <p>Сортируем список по возрастанию</p>
        <p><strong>Алгоритм:</strong></p>
        1. Это доработанная сортировка пузырьком.<br>
        2. Первая итерация меняет местами все соседние элементы, если левый больше правого. В итоге в правом краю списка
        будет самый большой.<br>
        3. Затем делаем проход в обратную сторону, в результате в левом краю будет самый маленький элемент.<br>
        4. Следующая итерация более узкая - сравниваются со второго до предпоследнего элемента. В итоге предпоследним
        будет следующий самый большой. И так далее.<br>

    {% elif algorithm.id == 6 %}
        {#Сортировка списка расческой (comb sort)#}
        <p>Сортируем список по возрастанию</p>
        <p><strong>Алгоритм:</strong></p>
        1. Это ещё одна доработанная сортировка пузырьком.<br>
        2. Отличие в том, что сравниваются не соседние элементы, а на некотором отдалении друг от друга.<br>
        3. Каждая следующая итерация сужает это расстояние.<br>

    {% elif algorithm.id == 7 %}
        {#Сортировка Шелла (Shell sort)#}
        <p>Сортируем список по возрастанию</p>
        <p><strong>Алгоритм:</strong></p>
        1. Это доработанная сортировка вставками.<br>
        2. Отличие в том, что сравниваются не соседние элементы, а на некотором отдалении друг от друга (так же, как и в
        сортировке расческой).<br>
        3. Каждая следующая итерация сужает это расстояние.<br>

    {% elif algorithm.id == 8 %}
        {#Быстрая сортировка списка (quick sort)#}
        <p>Сортируем список по возрастанию</p>
        <p><strong>Алгоритм:</strong></p>
        1. Это доработанная сортировка вставками.<br>
        2. Отличие в том, что сравниваются не соседние элементы, а на некотором отдалении друг от друга (так же, как и в
        сортировке расческой).<br>
        3. Каждая следующая итерация сужает это расстояние.<br>

    {% elif algorithm.id == 9 %}
        {#Сортировка списка слиянием (merge sort)#}
        <p>Сортируем список по возрастанию</p>
        <p><strong>Алгоритм:</strong></p>
        1. Сортировка происходит при помощи рекурсивного разделения списка на части.<br>
        2. Каждая из маленьких частей списка сортируется.<br>
        3. Затем все части списка собирются, снова сортируясь парами, сравнивая элементы поочередно.<br>

    {% elif algorithm.id == 10 %}
        {#Поразрядная сортировка (radix  sort)#}
        <p>Сортируем список по возрастанию</p>
        <p>Не подходит для сортировки списков с дробными числами.</p>
        <p><strong>Алгоритм:</strong></p>
        1. Сортировка происходит по разрядам.<br>
        2. Сначала элементы сортируются по последнему разряду.<br>
        3. Затем сортировка происходит по предпоследнему разряду, и так далее.<br>

    {% endif %}

    {% if algorithm.id == 12 %}
        <button class="btn btn-sm btn-info speed_test_algorithm mt-3 mb-3" data-url="{% url 'speed_test_algorithm' %}">
            Сравнить алгоритмы сортировки
        </button>

        <div id="floatBarsG">
            <div id="floatBarsG_1" class="floatBarsG"></div>
            <div id="floatBarsG_2" class="floatBarsG"></div>
            <div id="floatBarsG_3" class="floatBarsG"></div>
            <div id="floatBarsG_4" class="floatBarsG"></div>
            <div id="floatBarsG_5" class="floatBarsG"></div>
            <div id="floatBarsG_6" class="floatBarsG"></div>
            <div id="floatBarsG_7" class="floatBarsG"></div>
            <div id="floatBarsG_8" class="floatBarsG"></div>
        </div>

    {% else %}
        <button class="btn btn-sm btn-info generation_algorithm mt-3 mb-3" data-id="{{ algorithm.id }}"
                data-url="{% url 'generation_algorithm' id=algorithm.id %}">
            Сгенерировать список и отсортировать
        </button>

        {#        echo '#}
        {#		<div id="loading" style="display: none;">#}
        {#			<img src="images/loading.gif" alt="" />#}
        {#		</div>#}
        {#		<div id="loading2" style="display: none;">#}
        {#		</div>';#}


    {% endif %}

    <div class="result" id="result_{{ algorithm.id }}"></div>

{% elif algorithm.group.slug != '1_sortirovka' %}


{% endif %}


<script type='text/javascript'>
    $(".generation_algorithm").on("click", function () {
        id = $(this).attr("data-id");
        $.ajax({
            url: $(this).attr("data-url"),
            success: function (data) {
                $("#result_" + id).html(data);
            }
        });
    });
    $(".speed_test_algorithm").on("click", function () {
        $('.floatBarsG').show();
        $(".result").html('');
        $.ajax({
            url: $(this).attr("data-url"),
            success: function (data) {
                $(".result").html(data);
                $('.floatBarsG').hide();
            }
        });
    });
</script>
